<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang=en> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang=en> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang=en> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge"/>
    <meta name=author content="DSAThemes"/>
    <meta name=description content="ShiftKey - Software & Startup Premium Landing Page Template"/>
    <meta name=keywords content="Responsive, HTML5 Template, DSAThemes, One Page, Landing, Startup, Software, Business, Company, Corporate, Creative, Freelancers">
    <meta name=viewport content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#28a4c3">

    <title>TΞLR Concierge — Crypto Merchant Services</title>

    <link rel="shortcut icon" href="favicon.ico" type=image/x-icon>
    <link rel=icon href="favicon.ico" type=image/x-icon>

    <link rel=apple-touch-icon sizes=152x152 href="images/apple-touch-icon-152x152.png">
    <link rel=apple-touch-icon sizes=120x120 href="images/apple-touch-icon-120x120.png">
    <link rel=apple-touch-icon sizes=76x76 href="images/apple-touch-icon-76x76.png">
    <link rel=apple-touch-icon href="images/apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900" rel=stylesheet>

    <link href="css/bootstrap.min.css" rel=stylesheet>

    <link href=https://use.fontawesome.com/releases/v5.7.2/css/all.css integrity=sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr rel=stylesheet crossorigin=anonymous>

    <link href="css/flaticon.css" rel=stylesheet>
    <link href="css/magnific-popup.css" rel=stylesheet>
    <link href="css/owl.carousel.min.css" rel=stylesheet>
    <link href="css/owl.theme.default.min.css" rel=stylesheet>
    <link href="css/animate.css" rel=stylesheet>

    <!-- <link href="css/green-theme.css" rel=stylesheet> -->
    <!-- <link href="css/aqua-theme.css" rel="stylesheet" title=aqua-theme> -->
    <!-- <link href="css/blue-theme.css" rel="stylesheet" title=blue-theme> -->
    <!-- <link href="css/bluegrey-theme.css" rel="stylesheet" title=bluegrey-theme> -->
    <!-- <link href="css/darkblue-theme.css" rel="stylesheet" title=darkblue-theme> -->
    <!-- <link href="css/darkgreen-theme.css" rel="stylesheet" title=darkgreen-theme> -->
    <!-- <link href="css/deeporange-theme.css" rel="stylesheet" title=deeporange-theme> -->
    <!-- <link href="css/red-theme.css" rel="stylesheet" title=red-theme> -->
    <link href="css/purple-theme.css" rel="stylesheet" title=purple-theme>
    <!-- <link href="css/tomato-theme.css" rel="stylesheet" title=tomato-theme> -->

    <link href="css/responsive.css" rel=stylesheet>

    <style>
    .slack-button {
        font-size: 1.4em;
        border: 1pt solid #999;
        cursor: pointer;
        padding: 10px;

        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */

        background-image:
            linear-gradient(
              #ff333322, #f06d0622
            );
    }
    </style>

    <link href="https://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>

    <!-- Osana (GDPR) Compliance -->
    <!-- <script src="https://cmp.osano.com/16A17HRkKQCZaY8V/3b3068fb-5c8f-4a1f-8423-9fd129c429cb/osano.js"></script> -->

    <!-- Start of Async Drift Code -->
    <script>
    // "use strict";
    //
    // !function() {
    //   var t = window.driftt = window.drift = window.driftt || [];
    //   if (!t.init) {
    //     if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    //     t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    //     t.factory = function(e) {
    //       return function() {
    //         var n = Array.prototype.slice.call(arguments);
    //         return n.unshift(e), t.push(n), t;
    //       };
    //     }, t.methods.forEach(function(e) {
    //       t[e] = t.factory(e);
    //     }), t.load = function(t) {
    //       var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
    //       o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
    //       var i = document.getElementsByTagName("script")[0];
    //       i.parentNode.insertBefore(o, i);
    //     };
    //   }
    // }();
    // drift.SNIPPET_VERSION = '0.3.1';
    // drift.load('hn7xffg9ip23');
    </script>
    <!-- End of Async Drift Code -->
</head>

<body>

<div id=loader-wrapper>
    <div id=loader>
        <span class=cssload-loader>
            <span class=cssload-loader-inner></span>
        </span>
    </div>
</div>

<div id=app class=page>
    <header id=header class=header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-tra hover-menu">
            <div class=container>
                <a href="javascript://" class="navbar-brand logo-black"><img src="images/logo.png" width=120 height=30 alt=header-logo></a>
                <a href="javascript://" class="navbar-brand logo-white"><img src="images/logo-white.png" width=120 height=30 alt=header-logo></a>
                <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
                    <span class=navbar-bar-icon><i class="fas fa-bars"></i></span>
                </button>
                <div id=navbarSupportedContent class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <!-- spacer -->
                    </ul>

                    <span class=navbar-text>
                        <a href="javascript://" class="btn btn-tra-black primary-color-hover" data-toggle="modal" data-target="#requestDemoModal">Request A LIVE Demo</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <section id=hero-4 class="bg-fixed hero-section division">
        <div class=container>
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-xl-6">
                    <div class="hero-4-img text-center">
                        <img class=img-fluid src="images/hero-4.png" alt=hero-image>
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 offset-xl-1">
                    <div class=hero-txt>
                        <h2 class=steelblue-color>Ready To BUIDL Your Next Crypto Business?</h2>

                        <p class="p-md grey-color">
                            Need help deploying your first <strong class="text-primary">Bitcoin ATM</strong> location?
                            Want to expand your customer's crypto options at <strong class="text-primary">Point-Of-Sale</strong>?
                            Telr knows how to get you there!
                        </p>

                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form class=hero-newsletter-form action="https://modenero.us16.list-manage.com/subscribe/post?u=3bc52483d84d118619598035f&amp;id=172fbad05c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class=input-group>
                            	       <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your email address" required>
                                       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3bc52483d84d118619598035f_172fbad05c" tabindex="-1" value=""></div>
                                       <div class="clear"><input type="submit" value="Join Our Mailings" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary-color black-hover"></div>
                                   </div>
                               </div>
                               <label for=s-email class=form-notification></label>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->

                        <div class=hero-links>
                            <span class=grey-color>Try out the entire <strong>Telr DeFi Suite</strong> absolutely <strong>Risk Free</strong>.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id=services-8 class="wide-40 services-section division">
        <div class=container>
            <div class=row>
                <div class="col-lg-10 offset-lg-1 section-title">
                    <p class=p-md>
                        Telr empowers <strong><strong>Crypto Service Providers</strong></strong> with a premium suite of enterprise-ready solutions for <strong><strong>starting, growing</strong></strong> and eventually <strong><strong>expanding</strong></strong> their businesses.
                    </p>
                </div>
            </div>
            <div class=row>
                <div class="col-lg-10 offset-lg-1">
                    <div class=row>
                        <div class=col-sm-6>
                            <div class="sbox-4 wow fadeInUp" data-wow-delay=0.4s>
                                <img class=img-70 src="images/icons/wallet.png" alt=service-icon />
                                <div class=sbox-4-txt>
                                    <h5 class="h5-sm steelblue-color">One <strong class="text-danger">"Hot"</strong> Wallet to Rule-Them-All</h5>
                                    <p class=grey-color>
                                        Maintaining <strong>liquidity for <strong>multiple</strong> coins</strong> used to be a hard job.
                                        Now, you <strong>ONLY need (1) <strong class="text-danger">"Stablecoin"</strong> Wallet</strong> to support <strong>over <strong class="text-danger">+100</strong> cryptos.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=col-sm-6>
                            <div class="sbox-4 wow fadeInUp" data-wow-delay=0.6s>
                                <img class=img-70 src="images/icons/idea.png" alt=service-icon />
                                <div class=sbox-4-txt>
                                    <h5 class="h5-sm steelblue-color">Bring Your Boldest Ideas To Life</h5>
                                    <p class=grey-color>
                                        <strong>Looking for a custom solution?</strong>
                                        Look no further than our community of full-stack developers, <strong>ready to <strong>BUIDL</strong> anything you need.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=col-sm-6>
                            <div class="sbox-4 wow fadeInUp" data-wow-delay=0.4s>
                                <img class=img-70 src="images/icons/structure.png" alt=service-icon />
                                <div class=sbox-4-txt>
                                    <h5 class="h5-sm steelblue-color">Built For SMB &amp; Large Enterprises</h5>
                                    <p class=grey-color>
                                        A secure, globally-redundant network of <strong>open-source, <strong>best-in-class</strong> hardware and software;</strong>
                                        maintained by a team of <strong>dedicated and highly-experienced</strong> engineers.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=col-sm-6>
                            <div class="sbox-4 wow fadeInUp" data-wow-delay=0.6s>
                                <img class=img-70 src="images/icons/faq.png" alt=service-icon />
                                <div class=sbox-4-txt>
                                    <h5 class="h5-sm steelblue-color">Best-in-class Customer Support</h5>
                                    <p class=grey-color>
                                        We employ a world-class team of customer service professionals, well-educated in <strong><strong>blockchain,</strong> <strong>compliance</strong> and <strong>scam prevention</strong> technology.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id=content-2 class="bg-lightgrey wide-60 content-section division">
        <div class=container>
            <div class="row d-flex align-items-center">
                <div class=col-md-6>
                    <div class="img-block wow fadeInUp" data-wow-delay=0.6s>
                        <img class=img-fluid src="images/image-01.png" alt=content-image>
                    </div>
                </div>
                <div class=col-md-6>
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay=0.4s>
                        <span class="section-id primary-color">Telr Does Mobile First</span>
                        <h3 class="h3-md steelblue-color">Telr<span class="text-info">.App</span> is <strong><em>YOUR</em></strong><br />Crypto Concierge</h3>

                        <div class=cbox-1>
                            <i class="fas fa-circle"></i>
                            <div class="cbox-1-txt grey-color">
                                <p>
                                    Manage your entire crypto enterprise from the palm of your hand.
                                    Always have <strong>secure and convenient access</strong> to the data you need, when you need it most.
                                </p>
                            </div>
                        </div>

                        <div class=cbox-1>
                            <i class="fas fa-circle"></i>
                            <div class="cbox-1-txt grey-color">
                                <p>
                                    Your customers will ❤️ having secure, 24hr access to the <strong>private profile &amp; transaction data</strong> they need and the <strong>helpful blockchain resources</strong> they want.
                                    <strong class="text-danger"><small><sup>*</sup></small>SAY GOODBYE TO SUPPORT CALLS!</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id=content-7 class="wide-60 content-section division">
        <div class=container>
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-xl-6">
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay=0.4s>
                        <span class="section-id primary-color">Telr Works Anywhere!</span>
                        <h3 class="h3-md steelblue-color">Manage Your Business From <span class="text-info">ANY</span> Device</h3>

                        <p>
                            Empowering you to manage your entire <strong>DeFi Enterprise</strong> from the palm of your hand.
                            Always have <strong>secure and convenient access</strong> to the data you need, when you need it most.
                        </p>

                        <div class="quote primary-theme mt-20">
                            <p>
                                "Telr allowed us to reduce the infrastructure of our Bitcoin ATM network by 80%.
                                Their "all-inclusive", flat-rate billing saw a 30% increase in our bottom-line in the first 3 months."
                            </p>
                            <div class=quote-avatar>
                                <img src="images/review-author-7.jpg" alt=quote-avatar>
                                <!-- <img src="images/quote-avatar.jpg" alt=quote-avatar> -->
                            </div>
                            <div class=quote-author>
                                <h5 class="h5-xs steelblue-color">Diana K.</h5>
                                <span class=grey-color>CEO of Homemade Crypto</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 offset-xl-1">
                    <div class="content-7-img wow fadeInRight" data-wow-delay=0.6s>
                        <img class=img-fluid src="images/image-08.png" alt=content-image>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id=video-3 class="video-section division">
        <div class=container>
            <div class=row>
                <div class=col-md-12>
                    <div class="video-preview text-center">
                        <!-- <a class=video-popup1 href=https://cdn.biteable.com/1a/d3/12789571/11021904_1ad3c7245b371f2b2951c4ce8808ac62676e7dc1-wm.mp4> -->
                        <!-- <a class=video-popup1 href=./media/biteable.mp4> -->
                        <a class=video-popup1 href=https://ipfs.io/ipfs/QmPPcFVHD9paLVcWjDrBWpFySTHrNJpZzVHrK6PLJKRjCG>
                            <div class="video-btn play-icon-tra">
                                <div class=video-block-wrapper>
                                    <i class="fas fa-play"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id=content-8 class="wide-60 content-section division">
        <div class=container>
            <div class="row d-flex align-items-center">
                <div class=col-md-6>
                    <div class="content-8-img wow fadeInLeft" data-wow-delay=0.4s>
                        <img class=img-fluid src="images/image-10.png" alt=content-image>
                    </div>
                </div>
                <div class=col-md-6>
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay=0.4s>
                        <div class="cbox-2 icon-xs">
                            <div class="cbox-2-title clearfix">
                                <i class="far fa-calendar-check"></i>
                                <h5 class="h5-sm steelblue-color">Insightful Charts &amp; Reporting</h5>
                            </div>
                            <p>
                                Discover a deeper understanding of your DeFi Business, with our in-depth reporting and analysis system.
                                Select from our standard library and/or define your own KPIs to keep you and your team on target.
                            </p>
                        </div>
                        <div class="cbox-2 icon-xs mt-30">
                            <div class="cbox-2-title clearfix">
                                <i class="fas fa-globe-americas"></i>
                                <h5 class="h5-sm steelblue-color">Multilingual Team of Professionals</h5>
                            </div>
                            <p>
                                No matter where you setup shop, we've got you covered.
                                Our team of experienced crypto professionals spans across the globe.
                                We currently support over 12+ languages with more in the works.
                            </p>
                        </div>
                        <div class="cbox-2 icon-xs mt-30">
                            <div class="cbox-2-title clearfix">
                                <i class="far fa-edit"></i>
                                <h5 class="h5-sm steelblue-color">Virtual & Physical Network Management</h5>
                            </div>
                            <p>
                                Best-in-class security is the NEW normal for crypto businesses.
                                Our team is ready to help you deploy, manage and upgrade your private network resources.
                            </p>
                        </div>
                        <div class="cbox-2 icon-xs mt-30">
                            <div class="cbox-2-title clearfix">
                                <i class="far fa-question-circle"></i>
                                <h5 class="h5-sm steelblue-color">Superior Customer Support</h5>
                            </div>
                            <p>
                                Help is always there, especially when you need it MOST.
                                We offer multiple channels for direct access to our team of experienced blockchain professionals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id=pricing-1 class="bg-lightgrey grey-textured wide-60 pricing-section">
        <div class=container>
            <div class=row>
                <div class="col-lg-10 offset-lg-1 section-title">
                    <h3 class="h3-md steelblue-color">Kitchen-sink, Flat-rate Pricing</h3>

                    <p class=p-md>
                        We built our entire network on top of the Ethereum ecosystem.
                        Telr operators utilize a suite of Decentralized Applications (DApps) to manage it all.
                    </p>
                </div>
            </div>
            <div class="row d-flex align-items-center pricing-row primary-theme">
                <div class=col-md-4>
                    <div class="pricing-table wow fadeInUp" data-wow-delay=0.4s>
                        <div class="pricing-plan steelblue-color">
                            <h5 class=h5-xs>Fiat Transactions</h5>
                            <!-- <sup>$</sup> -->
                            <span class=price>1</span>
                            <sup class=pricing-coins>%</sup>
                            <p class=p-md>transaction value</p>
                        </div>
                        <ul class="features steelblue-color">
                            <li><i class="fas fa-stop-circle"></i> 100+ Cryptos Supported</li>
                            <li><i class="fas fa-stop-circle"></i> 15+ Fiat Currencies</li>
                            <li><i class="fas fa-stop-circle"></i> Telr.App Concierge</li>
                            <li><i class="fas fa-stop-circle"></i> BATM 360° Manager</li>
                            <li><i class="fas fa-stop-circle"></i> POS 360° Manager</li>
                            <li><i class="fas fa-stop-circle"></i> Live Customer Support</li>
                        </ul>
                        <!-- <a href="javascript://" class="btn btn-tra-grey black-hover">Select Plan</a> -->
                    </div>
                </div>
                <div class=col-md-4>
                    <div class="pricing-table highlight wow fadeInUp" data-wow-delay=0.7s>
                        <div class="pricing-plan steelblue-color">
                            <h5 class=h5-xs>Crypto Transactions</h5>
                            <!-- <sup>$</sup> -->
                            <span class=price>0</span>
                            <sup class=pricing-coins>%</sup>
                            <p class=p-md>transaction value</p>
                        </div>
                        <ul class="features steelblue-color">
                            <li><i class="fas fa-stop-circle"></i> 100+ Cryptos Supported</li>
                            <li class=disabled-option><i class="fas fa-stop-circle"></i> <del>15+ Fiat Currencies</del></li>
                            <li><i class="fas fa-stop-circle"></i> Telr.App Concierge</li>
                            <li><i class="fas fa-stop-circle"></i> BATM 360° Manager</li>
                            <li><i class="fas fa-stop-circle"></i> POS 360° Manager</li>
                            <li class=disabled-option><i class="fas fa-stop-circle"></i> <del>Live Customer Support</del></li>
                        </ul>
                        <!-- <a href="javascript://" class="btn btn-primary-color tra-black-hover">Select Plan</a> -->
                    </div>
                </div>
                <div class=col-md-4>
                    <div class="pricing-table wow fadeInUp" data-wow-delay=1s>
                        <div class="pricing-plan steelblue-color">
                            <h5 class=h5-xs>BATM Consulting</h5>
                            <!-- <sup>$</sup> -->
                            <span class=price>$$$</span>
                            <!-- <sup class=pricing-coins>00</sup> -->
                            <p class=p-md>contact us</p>
                        </div>
                        <ul class="features steelblue-color">
                            <li><i class="fas fa-stop-circle"></i> NEW BATM Installations</li>
                            <li><i class="fas fa-stop-circle"></i> Full Compliance Setups</li>
                            <li><i class="fas fa-stop-circle"></i> Self-hosted Server Setups</li>
                            <li><i class="fas fa-stop-circle"></i> Software Development</li>
                            <li><i class="fas fa-stop-circle"></i> Social Media Marketing</li>
                            <li>&nbsp;&nbsp;&nbsp; and much more...</li>
                        </ul>
                        <!-- <a href="javascript://" class="btn btn-tra-grey black-hover">Contact Us</a> -->
                    </div>
                </div>
            </div>
            <div class=row>
                <div class="col-lg-8 offset-lg-2 wow fadeInUp" data-wow-delay=1s>
                    <div class="pricing-notice mb-40 text-center">
                        <p class="p-md steelblue-color">
                            <span>Please Note:</span>
                            Prices may vary from location to location due to local taxation laws and conversion rates from U.S. Dollars.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id=statistic-1 class="bg-image wide-60 statistic-section division">
        <div class="container white-color">
            <div class=row>
                <div class="col-lg-10 offset-lg-1 section-title">
                    <h3 class=h3-md>How's Your Bottom Line?</h3>
                    <p class=p-md>
                        Telr offers operators the ability to minimize, and in some cases completely eliminate, <strong><strong>price volatility</strong></strong> and <strong><strong>exchange hacks</strong></strong> that put your business at risk.
                    </p>
                </div>
            </div>
            <div class=row>
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                    <div class=row>
                        <div class=col-sm-4>
                            <div class="statistic-block wow fadeInUp" data-wow-delay=0.4s>
                                <h5 class=statistic-number>$<span class=count-element>15</span>k</h5>
                                <p class=txt-400>Avg <strong>"Hot"</strong> Wallet Balance Exposed to Hackers</p>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class="statistic-block wow fadeInUp" data-wow-delay=0.6s>
                                <h5 class=statistic-number><span class=count-element>30</span>%</h5>
                                <p class=txt-400>Total Customer Reserves <strong>Lost</strong> in 2016 Bitfinex Hack</p>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class="statistic-block wow fadeInUp" data-wow-delay=0.8s>
                                <h5 class=statistic-number>1.<span class=count-element>7</span></h5>
                                <p class=txt-400>Exchanges <strong>"Hacked"</strong> On Average Each Month</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id=faqs-2 class="wide-100 faqs-section division">
        <div class=container>
            <div class=row>
                <div class="col-lg-10 offset-lg-1 section-title">
                    <h3 class="h3-md steelblue-color">Frequently Asked Questions</h3>

                    <p class=p-md>
                        We welcome ALL of your questions, and can only hope to have ALL the answers.
                        Please don't hesitate to reach out to one of our team members directly.
                    </p>
                </div>
            </div>

            <div class=row>
                <div class=col-lg-6>
                    <div class=questions-holder>
                        <div class="question wow fadeInUp" data-wow-delay=0.4s>
                            <h5 class="h5-xs steelblue-color">Where are my private keys/coins stored?</h5>

                            <p>
                                Your keys are <strong><strong>ALWAYS</strong></strong> held by <strong>YOU</strong> and <strong>ONLY YOU.</strong>
                                <strong><strong class="text-info">WE ALSO LOST 30% IN THE 2016 BITFINEX HACK.</strong></strong>
                                Together, we will <strong><strong class="text-danger">NEVER</strong></strong> have to <strong><strong>"store"</strong></strong> our coins on a <strong><strong>centralized exchange</strong></strong> again.
                            </p>

                            <hr />
                        </div>

                        <div class="question wow fadeInUp" data-wow-delay=0.6s>
                            <h5 class="h5-xs steelblue-color">Is it safe to use Telr Network (while still in Beta)?</h5>
                            <ul class="content-list mb-35">
                                <li>Our transactions are 100% non-custodial.</li>

                                <li>We have a team of engineers monitoring 24x7x365.</li>

                                <li>Your organization and customer data is backed-up <strong><strong class="text-danger">DAILY</strong> and <strong class="text-danger">OFF-SITE</strong></strong> following best-security practices.</li>
                            </ul>

                            <hr />
                        </div>

                        <div class="question wow fadeInUp" data-wow-delay=0.8s>
                            <h5 class="h5-xs steelblue-color">I have a technical problem, who do I email?</h5>
                            <p>
                                We understand that <strong><strong>Time Is Money!</strong></strong>
                                For your convenience, we support multiple <strong><strong class="text-danger">LIVE</strong></strong> messaging platforms, including:
                                <strong>Matrix, Slack, Telegram, WeChat and WhatsApp.</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class=col-lg-6>
                    <div class="questions-holder ind-30">
                        <div class="question wow fadeInUp" data-wow-delay=0.4s>
                            <h5 class="h5-xs steelblue-color">How can Telr help my Bitcoin ATM business?</h5>
                            <ul class="content-list mb-35">
                                <li>Eleminate the volitity of Bitcoin's price fluctuations by keeping <strong>stablecoin <strong class="text-danger">"hot"</strong> wallet(s)</strong> (eg. Tether, USDC and/or Dai).</li>

                                <li>
                                    We manage <strong>ALL</strong> of your customer support issues,
                                    from <strong>"How do i setup a Bitcoin wallet?"</strong> to <strong>"Where are my bitcoins?"</strong>
                                </li>
                            </ul>

                            <hr />
                        </div>

                        <div class="question wow fadeInUp" data-wow-delay=0.6s>
                            <h5 class=h5-xs>How much does the Telr "Kitchen Sink" cost?</h5>
                            <p>
                                We offer the <strong><strong>simplest</strong> billing</strong> program in the industry.
                                Crypto-to-Crypto transactions are <strong><strong class="text-danger"><sup><small>*</small></sup>100% FREE</strong>.</strong>
                                Fiat-to-Crypto and Crypto-to-Fiat transactions are billed a <strong><strong>Flat Rate</strong> of <strong class="text-danger">1.0%</strong>.</strong>
                            </p>

                            <hr />
                        </div>

                        <div class="question wow fadeInUp" data-wow-delay=0.8s>
                            <h5 class="h5-xs steelblue-color">Do you have an affliate program?</h5>
                            <p>
                                <strong><strong>Absolutely!</strong></strong>
                                Do you know a crypto business operator, or someone who's looking to get started?
                                Send them <strong><strong>YOUR</strong> Affiliate Link</strong> and receive <strong><strong>Daily Payouts</strong> <strong class="text-danger"><sup><small>*</small></sup>UP TO $3,000</strong></strong> per operator/organization.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class=row>
                <div class="col-md-12 text-center">
                    <div class="more-questions wow fadeInUp" data-wow-delay=1.2s>
                        <h5 class="h5-xs steelblue-color">Still have a question? <a href="faqs.html">Ask your question here</a></h5>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <section id=cta-2 class="bg-primary-color grey-textured wide-100 cta-section division">
        <div class="container white-color">
            <div class=row>
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-txt text-center">
                        <h3 class=h3-xs>Customers ❤️ Telr.App<br />Your Crypto Concierge™</h3>

                        <p class=p-md>
                            We know how hard it can be to focus your time on <strong><strong>Growing Your Business.</strong></strong>
                            Our Concierge service does ALL the heavy lifting for you.
                            We've got you and your customers covered <strong><strong>24x7x365,</strong></strong> allowing you to focus your time better.
                        </p>

                        <div class=btns-group>
                            <a href="javascript://" class="btn btn-white tra-hover mr-15" data-toggle="modal" data-target="#requestDemoModal">Request A LIVE Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id=footer-4 class="wide-40 footer division">
        <div class=container>
            <div class=row>
                <div class="col-md-10 col-lg-4 col-xl-4">
                    <div class="footer-info mb-40">
                        <img src="images/footer-logo.png" width=175 height=35 alt=footer-logo>
                        <p class=foo-email>E: <a href=mailto:support@modenero.com>support@modenero.com</a></p>
                        <p>P: +1 678 981-8818</p>
                        <div class="footer-socials-links mt-20">
                            <ul class="foo-socials text-center clearfix">
                                <!-- <li><a href="javascript://" class=ico-facebook><i class="fab fa-facebook-f"></i></a></li> -->
                                <li><a href="javascript://" class=ico-google-plus><i class="fab fa-reddit-alien"></i></a></li>
                                <li><a href="javascript://" class=ico-twitter><i class="fab fa-github-alt"></i></a></li>
                                <li><a href="javascript://" class=ico-tumblr><i class="fab fa-medium-m"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2 offset-lg-1 offset-xl-2">
                    <div class="footer-links mb-40">
                        <h5 class="h5-sm steelblue-color">Products</h5>
                        <ul class=clearfix>
                            <li><a href="javascript://">How It Works?</a></li>
                            <li><a href="javascript://">Integrations</a></li>
                            <li><a href="javascript://">Installation Help</a></li>
                            <li><a href="javascript://">Our Pricing</a></li>
                            <li><a href="javascript://">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2">
                    <div class="footer-links mb-40">
                        <h5 class="h5-sm steelblue-color">Company</h5>
                        <ul class=clearfix>
                            <li><a href="javascript://">About Us</a></li>
                            <li><a href="javascript://">Talk To Us!</a></li>
                            <li><a href="javascript://">Privacy Policy</a></li>
                            <li><a href="javascript://">Terms of Service</a></li>
                            <li><a href="javascript://">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="footer-form mb-20">
                        <div class="text-center" style="font-size:0.8em;">
                            <strong class="text-secondary">Are you interested in <strong>partnering</strong> with -OR- <strong>joining</strong> our team?</strong>

                            <div class="mt-3 slack-button" @click="joinSlack">
                                <i class="fab fa-slack mr-1"></i> Join Our Slack
                            </div>
                        </div>

                        <!-- <h5 class="h5-sm steelblue-color">Get The App</h5>
                        <a href="javascript://" class=store>
                            <img class=appstore-original src="images/store_badges/appstore.png" alt=appstore-logo />
                        </a>
                        <a href="javascript://" class=store>
                            <img class=googleplay-original src="images/store_badges/googleplay.png" alt=googleplay-logo />
                        </a> -->
                    </div>
                </div>
            </div>
            <div class=bottom-footer>
                <div class=row>
                    <div class=col-md-12>
                        <p class=footer-copyright>&copy; 2020 <span>Modenero Corp</span>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Request Live Demo (Modal) -->
<div class="modal fade" id="requestDemoModal" tabindex="-1" role="dialog" aria-labelledby="requestDemoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestDemoModalLabel">{{heading}}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            Thank you for taking a moment to <strong>Try Out Our Live Demo.</strong>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <!-- <label for="contact"><h5>Your Mobile # or Email Address</h5></label> -->
                                        <input type="text" class="form-control form-control-lg" v-model="fullName" placeholder="First and last name" aria-describedby="phoneHelp">
                                        <!-- <small id="phoneHelp" class="form-text text-muted">We'll never share your private info with anyone else.</small> -->
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="contact"><h5>Your Mobile # or Email Address</h5></label> -->
                                        <input type="text" class="form-control form-control-lg" v-model="contact" placeholder="404-555-1337 | satoshi@bitcoin.org" aria-describedby="phoneHelp">
                                        <small id="phoneHelp" class="form-text text-muted">We'll never share your private info with anyone else.</small>
                                    </div>

                                    <button class="btn btn-lg btn-black black-tra-hover" @click="sendRequest">Send Me A LIVE Demo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-tra-black" data-dismiss="modal">
                    Cancel Request
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.scrollto.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/hero-form.js"></script>
<script src="js/register-form.js"></script>
<script src="js/contact-form.js"></script>
<script src="js/quick-form.js"></script>
<script src="js/comment-form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/wow.js"></script>

<!-- Main Telr JavaScript -->
<script src="js/main.js"></script>

<script>new WOW().init();</script>

<!-- [if lt IE 9]>
<script src=js/html5shiv.js type=text/javascript></script>
<script src=js/respond.min.js type=text/javascript></script>
<![endif] -->

<script src="js/changer.js"></script>
<script defer src="js/styleswitch.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5deeb2ee43be710e1d214dfb/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<!-- MailChimp -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3bc52483d84d118619598035f/12c5bf8f0d343cf787ba85e2d.js");</script>

<!-- Osana (GDPR) Compliance -->
<script src="https://cmp.osano.com/16A17HRkKQCZaY8V/3b3068fb-5c8f-4a1f-8423-9fd129c429cb/osano.js"></script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.modenero.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
